---
import { Icon } from "astro-icon/components";

import { trans } from "~/utils/translations";

import { getCollection } from "astro:content";
import HotelCard from "~/components/core/cards/HotelCard.astro";

const hotels = (await getCollection("hotels"))
  .sort((a, b) => a.data.name.localeCompare(b.data.name))
  .sort((a, b) => (b.data.partner === true ? -1 : 1))
  .slice(0, 4);

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<section class="flex justify-center pt-10 pb-10 bg-white">
  <div class="container">
    <div class="text-center mb-12">
      <h2 class="mb-4 text-center text-2xl font-bold text-primary">
        {trans(lang, "components.sections.home.featured-hotels.title")}
      </h2>
      <p
        class="text-lg text-neutral-600 dark:text-neutral-400 max-w-3xl mx-auto"
      >
        {trans(lang, "components.sections.home.featured-hotels.description")}
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        hotels.map((hotel) => {
          const {
            coverImage,
            roomPrice,
            partner,
            name,
            amenities,
            stars,
            location,
          } = hotel.data;
          return (
            <HotelCard
              id={hotel.id}
              coverImage={coverImage}
              location={location}
              name={name}
              stars={stars}
              amenities={amenities}
              roomPrice={roomPrice}
              partner={partner}
              lang={lang}
            />
          );
        })
      }
    </div>
    <div class="text-center mt-12">
      <a href="/hotels" class="btn btn-outline btn-primary">
        <Icon name="find-hotel" />
        {trans(lang, "components.sections.home.featured-hotels.btn-all-hotels")}
      </a>
    </div>
  </div>
</section>
