---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

import { trans } from "~/utils";
import { createLogger } from "../../../utils";
import DestinationCard from "../../core/cards/DestinationCard.astro";

const logger = createLogger(false, "popular.destinations");

let destinations = await getCollection("destinations");

try {
  destinations = destinations
    .sort((a, b) => a.data.name.localeCompare(b.data.name))
    .slice(0, 4);
  logger.log("Popular destinations loaded successfully:", destinations.length);
} catch (error) {
  logger.error("Error loading destinations:", error);
}

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<section class="flex justify-center pt-10 pb-10 bg-neutral-100/20 dark:bg-neutral-800">
    <div class="container">
        <div class="text-center mb-12">
            <h2 class="mb-4 text-center text-2xl font-bold text-primary">
                {trans(lang, "components.sections.home.popular-destination.title")}</h2>
            <p class="text-lg text-neutral-600 dark:text-neutral-400 max-w-3xl mx-auto">
                {trans(lang, "components.sections.home.popular-destination.subtitle")}
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
            {destinations.map(destination => {

                const {
                    partner,
                    name,
                    location,
                    description_destination,
                    tags,
                    coverImage,
                } = destination.data;
                return (
                        <DestinationCard
                        id={destination.id}
                        partner={partner}
                        name={name}
                        location={location}
                        description_destination={description_destination}
                        tags={tags}
                        coverImage={coverImage}
                        lang={lang}
                        />
                )
            })}
        </div>
        <div class="text-center mt-12">
            <a href="/destinations" class="btn btn-outline btn-primary">
                <Icon name="destination-line"></Icon>
                {trans(lang, "components.sections.home.popular-destination.btn-all-destination")}
            </a>
        </div>
    </div>
</section>

