---
import { Icon } from "astro-icon/components";

interface Props {
    idContainer?: string;
    _id: string;
    name: string;
    iconName: string;
    text: string;
}

const { idContainer, _id, name, iconName, text } = Astro.props;
---

<label id={idContainer} class="label">
    <input type="checkbox" id={_id} name={name} class="checkbox checkbox-primary" />
    <span class="text-sm font-normal text-foreground/80 flex items-center cursor-pointer">
        <Icon name={iconName} class="mr-1 h-5 w-5 text-primary/80" />
        {text}
    </span>
</label>
